
@{
    ViewBag.Title = "FinishAskForDonation";
}
<h3 style="text-align:center">3 steps to ask for a donatation</h3><br />
<div class="row">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:100%">
            100%
        </div>
    </div>

    <div class="col-xs-12">
        <p style="text-align:center; font-size:40px">All done, share it to your friends, good luck!</p>
        <!-- Email -->
        <a style="margin-left: 400px"  href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
            <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
        </a>
        <!-- Facebook -->
        <a  style="margin-left: 50px"    href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
        <!-- Twitter -->
        <a style="margin-left: 50px" href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
    </div>
</div>