@{
    ViewBag.Title = "Request Donation";
}

<h3 style="text-align:center">3 steps to ask for a donatation</h3><br />

<div class="row">

    <h4>Step1: A brief introduction abput yourself or your organization</h4>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:0%">
            0%
        </div>
    </div>
    <div class="col-xs-8">
        <form action="/Donation/Request2">
            <fieldset>
                <legend>Who are you?</legend>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label>Email: </label>
                    <input id="Text1" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input id="Text1" type="text" class="form-control" /><br />
                </div>
                <div class="form-group">
                    <lbael >Ask for an organization?</lbael><br />
                    <select id="Select1" class="form-control">
                        <option>Yes</option>
                        <option>No</option>
                    </select><br />
                </div>
                <div class="form-group">
                    <label>If yes, write down the detail information of the organization</label><br>
                    <textarea id="TextArea1" rows="8" cols="600" class="form-control"></textarea><br />
                </div>
                <button type="submit" class="btn btn-default">Next</button>


            </fieldset>
            <br />
            <br />
        </form>
    </div>
</div>
