@{
    ViewBag.Title = "Search Results";
}
<h2>@ViewBag.Title</h2>

<h3>3 requests found.</h3>

<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a href="/Donation/Detail" class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="https://www.jesmondfruitbarn.com.au/wp-content/uploads/2016/10/Jesmond-Fruit-Barn-Oranges.jpg" class="img-responsive img-rounded" alt="Donate food">
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="list-group-item-heading">Help needed</h4>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                        20%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="list-group-item-text">Monomo onom ono o oomomono</p>
                    </div>
                </div>
            </a>
            <a href="/Donation/Detail" class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="http://eltonconsulting.com.au/eltonnews/wp-content/uploads/2011/04/CareNSW.png" class="img-responsive img-rounded" alt="Donate food">
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="list-group-item-heading">Elders and Women</h4>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95"
                                         aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        95%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="list-group-item-text">Monomo onom ono o omoo mnonmom omno oomomono</p>
                    </div>
                </div>
            </a>
            <a href="/Donation/Detail" class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="https://images.agoramedia.com/everydayhealth/gcms/The-Best-Dairy-Alternatives-for-Crohns-Disease-1440x810.jpg?width=722" class="img-responsive img-rounded" alt="Donate food">
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="list-group-item-heading">Lactose free</h4>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        Completed
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="list-group-item-text">Monomo onom ono o oomomonooomomono mo noonooon non</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
</ul>