@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<div class="row">

    <div class="col-md-8">
        <p>
            Social Marketplace is a portal to connect those who is in need of a product
            or service with those who are willing to help, by providing those products,
            services or even cash. For example, a school in a poor community which is
            in need for new computers to give computer classes, may ask for donations.
            For that, the school may write a briefing, take photos, create a video. Donors,
            then, may contribute with one or more computers, parts, services (like transportation
            of those goods), or money.
        </p>
    </div>
</div>
    
