@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    298 Donus Street<br />
    Toronto ON Canada<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@socialMarket.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@socialMarket.com</a>
</address>