@{
    ViewBag.Title = "Privacy & Cookies Policy";
}
<h2>@ViewBag.Title</h2>

<div class="row">

    <div class="col-md-8">
        <p>
            When you use our services, you’re trusting us with your information.
            We understand this is a big responsibilityand work hard to protect
            your information and put you in control.
        </p>
    </div>
</div>